<template name="Footer">
    <div class="ui inverted vertical footer segment">	
    <div class="ui container">
		<p>&copy; 2016 Travelyaar - Designed & Powered by <a href="http://www.hostmasterzone.com">www.hostmasterzone.com</a></p>
		<hr/>
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Navigation</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Find a companion</a>
            <a href="#" class="item">Be a companion</a>
            <a href="#" class="item">Why Travelyaar?</a>
            <a href="#" class="item">About us</a>
          </div>
        </div>
        <div class="five wide column">
          <h4 class="ui inverted header">Recent Post</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">How to bring your loved one safe from abroad?</a>
            <a href="#" class="item">How to find travel companion?</a>
            <a href="#" class="item">How to arrange safe travel plan for your dependents?</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Have a question?</h4>
          <p>Write us to <a href="mailto:hello@travelyaar.us">hello@travelyaar.us</a> or <a href="mailto:travelyaar@gmail.com">travelyaar@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>

</template>
