<template name="Heroic">

	<div class="ui text container">
      <h1 class="ui inverted header">
        Find Companion
      </h1>
      <h2>Are you looking for someone coming from ____ travelling to _____ ?</h2>
      <div class="ui huge primary button">Search Trip<i class="right arrow icon"></i></div>
    </div>
	
</template>

<template name="IntroSection">
	<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Traveller to connect eachother</h3>
          <p>Essentiae infinitae ad imaginata vi videretur to tantaeque obversari. Debiliora in ab opinantem priusquam perfectae</p>
          <h3 class="ui header">Ladies & Elder can enjoy hazzel free travel</h3>
          <p>Sed remanetne sit abducerem est imaginans non dependent. Paulo his novas somno audio nia. Religio lor ordinis propria habemus cui. </p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check More Benefits</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="WhatWeDo">
	<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Travelyaar"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"My Parents first time visitor to United States reached safely, Travelyaar helped me to find a companion to help them. "</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Traveller Name</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="ShowCase">
	<div class="ui vertical stripe segment">
		<div class="ui text container">
		</div>
	</div>
</template>
