<template name="Nav">
    <div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    {{>Tier1Link}}
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  {{>Tier1Link}}
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>
</template>

<template name="InpageNav">
	<div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
		<a class="active item">Home</a>
        {{>Tier1Link}}
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
</template>

<template name="Tier1Link">
	<a class="item">Find a companion</a>
	<a class="item">Be a companion</a>
	<a class="item">Why Travelyaar?</a>
</template>
